In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("IMDB Dataset/IMDB Dataset.csv", nrows=10000)

In [4]:
df

                                                 review sentiment
0     One of the other reviewers has mentioned that ...  positive
1     A wonderful little production. <br /><br />The...  positive
2     I thought this was a wonderful way to spend ti...  positive
3     Basically there's a family where a little boy ...  negative
4     Petter Mattei's "Love in the Time of Money" is...  positive
...                                                 ...       ...
9995  Fun, entertaining movie about WWII German spy ...  positive
9996  Give me a break. How can anyone say that this ...  negative
9997  This movie is a bad movie. But after watching ...  negative
9998  This is a movie that was probably made to ente...  negative
9999  Smashing film about film-making. Shows the int...  positive

[10000 rows x 2 columns]

# lower case

In [5]:
df['review'] = df['review'].str.lower()

In [6]:
df

                                                 review sentiment
0     one of the other reviewers has mentioned that ...  positive
1     a wonderful little production. <br /><br />the...  positive
2     i thought this was a wonderful way to spend ti...  positive
3     basically there's a family where a little boy ...  negative
4     petter mattei's "love in the time of money" is...  positive
...                                                 ...       ...
9995  fun, entertaining movie about wwii german spy ...  positive
9996  give me a break. how can anyone say that this ...  negative
9997  this movie is a bad movie. but after watching ...  negative
9998  this is a movie that was probably made to ente...  negative
9999  smashing film about film-making. shows the int...  positive

[10000 rows x 2 columns]

# remove html tags

In [78]:
import re  #Regular Expressions
def remove_html_tags(text):
    pattern = re.compile('<.*?>')
    return pattern.sub(r'', text)

In [79]:
df['review'] = df['review'].apply(remove_html_tags)

In [80]:
df

                                                 review sentiment
0     One of the other reviewers has mentioned that ...  positive
1     A wonderful little production. The filming tec...  positive
2     I thought this was a wonderful way to spend ti...  positive
3     Basically there's a family where a little boy ...  negative
4     Petter Mattei's "Love in the Time of Money" is...  positive
...                                                 ...       ...
9995  Fun, entertaining movie about WWII German spy ...  positive
9996  Give me a break. How can anyone say that this ...  negative
9997  This movie is a bad movie. But after watching ...  negative
9998  This is a movie that was probably made to ente...  negative
9999  Smashing film about film-making. Shows the int...  positive

[10000 rows x 2 columns]

# remove url

In [81]:
def remove_url(text):
    pattern = re.compile(r'https?://\S+|www.\.\S+')
    return pattern.sub(r'', text)

In [82]:
df['review'] = df['review'].apply(remove_url)

In [83]:
df

                                                 review sentiment
0     One of the other reviewers has mentioned that ...  positive
1     A wonderful little production. The filming tec...  positive
2     I thought this was a wonderful way to spend ti...  positive
3     Basically there's a family where a little boy ...  negative
4     Petter Mattei's "Love in the Time of Money" is...  positive
...                                                 ...       ...
9995  Fun, entertaining movie about WWII German spy ...  positive
9996  Give me a break. How can anyone say that this ...  negative
9997  This movie is a bad movie. But after watching ...  negative
9998  This is a movie that was probably made to ente...  negative
9999  Smashing film about film-making. Shows the int...  positive

[10000 rows x 2 columns]

# remove punctuation

In [84]:
import string,time
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [85]:
exclude = string.punctuation

In [86]:
def remove_punc1(text):
    return text.translate(str.maketrans('','',exclude))

In [87]:
df['review'] = df['review'].apply(remove_punc1)

In [88]:
df

                                                 review sentiment
0     One of the other reviewers has mentioned that ...  positive
1     A wonderful little production The filming tech...  positive
2     I thought this was a wonderful way to spend ti...  positive
3     Basically theres a family where a little boy J...  negative
4     Petter Matteis Love in the Time of Money is a ...  positive
...                                                 ...       ...
9995  Fun entertaining movie about WWII German spy J...  positive
9996  Give me a break How can anyone say that this i...  negative
9997  This movie is a bad movie But after watching a...  negative
9998  This is a movie that was probably made to ente...  negative
9999  Smashing film about filmmaking Shows the inten...  positive

[10000 rows x 2 columns]

# remove stopwords

In [89]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to C:\Users\D MADHAN
[nltk_data]     MOHAN\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [90]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [91]:
def remove_stopwords(text):
    new_text = []
    
    for word in text.split():
        if word in stopwords.words('english'):
            new_text.append('')
        else:
            new_text.append(word)
    x = new_text[:]
    new_text.clear()
    return " ".join(x)

In [92]:
df['review'] = df['review'].apply(remove_stopwords)

In [24]:
df

                                                review sentiment
0    one    reviewers  mentioned   watching  1 oz e...  positive
1     wonderful little production  filming techniqu...  positive
2     thought    wonderful way  spend time    hot s...  positive
3    basically theres  family   little boy jake thi...  negative
4    petter matteis love   time  money   visually s...  positive
..                                                 ...       ...
995  nothing  sacred  ask ernie fosselius  days eve...  positive
996   hated   hate selfaware pretentious inanity  m...  negative
997   usually try   professional  constructive   cr...  negative
998    like   going  see    film history class  som...  negative
999    like  zoology textbook given   depiction  an...  negative

[1000 rows x 2 columns]

# handling emoji

In [25]:
import re
def remove_emoji(text):
    emoji_pattern = re.compile("["
                               "u\U0001F600-\U0001F64F"  # Emotions
                               "u\U0001F300-\U0001F5FF"  # Symbols & pictographs
                               "u\U0001F680-\U0001F6FF"  # Transport & map symbols
                               "u\U0001F1E0-\U0001F1FF"  # Flags(iOS)
                               "u\U00002702-\U000027B0"
                               "u\U000024C2-\U0001F251"
                               "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', text)

In [26]:
remove_emoji("Loved the movie, it was 👍")

'Loved the movie, it was '

In [27]:
import emoji
print(emoji.demojize('Python is 🔥'))

Python is :fire:

# tokenization

using split fun

In [28]:
# Word Tokenization
a = 'I am going to delhi'
a.split()

['I', 'am', 'going', 'to', 'delhi']

In [29]:
# Sentence Tokenization
b = 'Iam going to delhi. I will stay there for 3 days. Let\'s hope the trip to be great'
b.split('.')

['Iam going to delhi',
 ' I will stay there for 3 days',
 " Let's hope the trip to be great"]

In [30]:
# Problem with split function
c = 'I am going to delhi'
c.split()

['I', 'am', 'going', 'to', 'delhi']

In [31]:
d = 'Where do think I should go? I have 3 day holiday'
d.split('.')

['Where do think I should go? I have 3 day holiday']

regular expression

In [32]:
import re

e = 'I am going to delhi'
tokens = re.findall("[\w']+", e)
tokens

['I', 'am', 'going', 'to', 'delhi']

In [33]:
text = """Lorem Ipsum is simply dummy text of the printing and typesetting industry?
Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
when an unknown printer took a galley of type and scrambled it to make a type specimen book."""
sentences = re.compile('[.!?] ').split(text)
sentences

["Lorem Ipsum is simply dummy text of the printing and typesetting industry?\nLorem Ipsum has been the industry's standard dummy text ever since the 1500s,\nwhen an unknown printer took a galley of type and scrambled it to make a type specimen book."]

nltk

In [34]:
from nltk.tokenize import word_tokenize,sent_tokenize

In [35]:
sent1 = 'I am goind to visit delhi!'
word_tokenize(sent1)

['I', 'am', 'goind', 'to', 'visit', 'delhi', '!']

In [36]:
text = """Lorem Ipsum is simply dummy text of the printing and typesetting industry?
Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
when an unknown printer took a galley of type and scrambled it to make a type specimen book."""

sent_tokenize(text)

['Lorem Ipsum is simply dummy text of the printing and typesetting industry?',
 "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,\nwhen an unknown printer took a galley of type and scrambled it to make a type specimen book."]

In [37]:
sent5 = 'I have a Ph.D in A.I'
sent6 = "We're  here to help! mail us at gks@gmail.com"
sent7 = 'A 5km ride cost $10.50'

In [38]:
word_tokenize(sent5)

['I', 'have', 'a', 'Ph.D', 'in', 'A.I']

In [39]:
word_tokenize(sent6)

['We',
 "'re",
 'here',
 'to',
 'help',
 '!',
 'mail',
 'us',
 'at',
 'gks',
 '@',
 'gmail.com']

In [40]:
word_tokenize(sent7)

['A', '5km', 'ride', 'cost', '$', '10.50']

spacy

In [41]:
import spacy
#import os
nlp = spacy.load('en_core_web_sm') #english small dictionary

In [42]:
doc1 = nlp(sent5)
doc2 = nlp(sent6)
doc3 = nlp(sent7)
doc4 = nlp(sent1)

In [43]:
for token in doc1: # here it is failing
    print(token)

I
have
a
Ph
.
D
in
A.I

In [44]:
for token in doc2:
    print(token)

We
're

here
to
help
!
mail
us
at
gks@gmail.com

In [45]:
for token in doc3:
    print(token)

A
5
km
ride
cost
$
10.50

In [46]:
for token in doc4:
    print(token)

I
am
goind
to
visit
delhi
!

# stemming

In [47]:
from nltk.stem.porter import PorterStemmer

In [48]:
ps = PorterStemmer()
def stem_words(text):
    return " ".join([ps.stem(word) for word in text.split()])

In [49]:
sample = "walk walks walking walked"
stem_words(sample)

'walk walk walk walk'

In [50]:
text = "probably my all time favourite movie a story of selflessness sacrifice and dedication to a noble cause but its not preachy or boring it just never gets old despite my having seen some 15 or more times in the last 25 years."
print(text)

probably my all time favourite movie a story of selflessness sacrifice and dedication to a noble cause but its not preachy or boring it just never gets old despite my having seen some 15 or more times in the last 25 years.

In [51]:
stem_words(text)

'probabl my all time favourit movi a stori of selfless sacrific and dedic to a nobl caus but it not preachi or bore it just never get old despit my have seen some 15 or more time in the last 25 years.'

snowball

In [62]:
from nltk.stem import SnowballStemmer

In [101]:
snow = SnowballStemmer('english')
def stem_words(text):
    return " ".join([snow.stem(word) for word in text.split()])

In [102]:
sample = "walk walks walking walked"
stem_words(sample)

'walk walk walk walk'

In [66]:
text = "probably my all time favourite movie a story of selflessness sacrifice and dedication to a noble cause but its not preachy or boring it just never gets old despite my having seen some 15 or more times in the last 25 years."
print(text)

probably my all time favourite movie a story of selflessness sacrifice and dedication to a noble cause but its not preachy or boring it just never gets old despite my having seen some 15 or more times in the last 25 years.

In [67]:
stem_words(text)

'probabl my all time favourit movi a stori of selfless sacrific and dedic to a nobl caus but it not preachi or bore it just never get old despit my have seen some 15 or more time in the last 25 years.'

lancaster stemmer

In [68]:
from nltk.stem import LancasterStemmer

In [69]:
ls = PorterStemmer()
def stem_words(text):
    return " ".join([ls.stem(word) for word in text.split()])

In [70]:
sample = "walk walks walking walked"
stem_words(sample)

'walk walk walk walk'

In [71]:
text = "probably my all time favourite movie a story of selflessness sacrifice and dedication to a noble cause but its not preachy or boring it just never gets old despite my having seen some 15 or more times in the last 25 years."
print(text)

probably my all time favourite movie a story of selflessness sacrifice and dedication to a noble cause but its not preachy or boring it just never gets old despite my having seen some 15 or more times in the last 25 years.

In [72]:
stem_words(text)

'probabl my all time favourit movi a stori of selfless sacrific and dedic to a nobl caus but it not preachi or bore it just never get old despit my have seen some 15 or more time in the last 25 years.'

# lemmatizer

In [73]:
import nltk
from nltk.stem import WordNetLemmatizer

In [74]:
# Download the WordNet corpus
nltk.download('wordnet')

# You might also need to download the 'omw-1.4' package for wordnet
nltk.download('omw-1.4')

[nltk_data] Downloading package wordnet to C:\Users\D MADHAN
[nltk_data]     MOHAN\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to C:\Users\D MADHAN
[nltk_data]     MOHAN\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [75]:
wordnet_lemmatizer = WordNetLemmatizer()

sentence = "He aws running and eating at same time. He has bad habit of swimming after playing long hours in the Sun."
punctuations = "?:!.,;"
sentence_words = nltk.word_tokenize(sentence)
for word in sentence_words:
    if word in punctuations:
        sentence_words.remove(word)
    
sentence_words
print("{0:20}{1:20}".format("Word","Lemma"))
for word in sentence_words:
    print("{0:20}{1:20}".format(word,wordnet_lemmatizer.lemmatize(word,pos='v')))

Word                Lemma
He                  He
aws                 aws
running             run
and                 and
eating              eat
at                  at
same                same
time                time
He                  He
has                 have
bad                 bad
habit               habit
of                  of
swimming            swim
after               after
playing             play
long                long
hours               hours
in                  in
the                 the
Sun                 Sun