In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel('global_superstore/Global Superstore.xls')

In [29]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,32298,CA-2012-124891,2012-07-31,2012-07-31,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57,Critical
1,26341,IN-2013-77878,2013-02-05,2013-02-07,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,...,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2013-71249,2013-10-17,2013-10-18,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,...,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2013-1579342,2013-01-28,2013-01-30,First Class,KM-16375,Katherine Murray,Home Office,Berlin,Berlin,...,TEC-PH-10004583,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium
4,47221,SG-2013-4320,2013-11-05,2013-11-06,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,...,TEC-SHA-10000501,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical

In [3]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'City', 'State', 'Country',
       'Postal Code', 'Market', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Shipping Cost', 'Order Priority'],
      dtype='object')

In [4]:
df.shape

(51290, 24)

In [5]:
df.describe()

,Row ID,Order Date,Ship Date,Postal Code,Sales,Quantity,Discount,Profit,Shipping Cost
count,51290.00000,51290,51290,9994.000000,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000
mean,25645.50000,2013-05-11 21:26:49.155781120,2013-05-15 20:42:42.745174528,55190.379428,246.490581,3.476545,0.142908,28.610982,26.375818
min,1.00000,2011-01-01 00:00:00,2011-01-03 00:00:00,1040.000000,0.444000,1.000000,0.000000,-6599.978000,0.002000
25%,12823.25000,2012-06-19 00:00:00,2012-06-23 00:00:00,23223.000000,30.758625,2.000000,0.000000,0.000000,2.610000
50%,25645.50000,2013-07-08 00:00:00,2013-07-12 00:00:00,56430.500000,85.053000,3.000000,0.000000,9.240000,7.790000
75%,38467.75000,2014-05-22 00:00:00,2014-05-26 00:00:00,90008.000000,251.053200,5.000000,0.200000,36.810000,24.450000
max,51290.00000,2014-12-31 00:00:00,2015-01-07 00:00:00,99301.000000,22638.480000,14.000000,0.850000,8399.976000,933.570000
std,14806.29199,NaN,NaN,32063.693350,487.565361,2.278766,0.212280,174.340972,57.296810

In [6]:
df.dtypes

Row ID                     int64
Order ID                  object
Order Date        datetime64[ns]
Ship Date         datetime64[ns]
Ship Mode                 object
Customer ID               object
Customer Name             object
Segment                   object
City                      object
State                     object
Country                   object
Postal Code              float64
Market                    object
Region                    object
Product ID                object
Category                  object
Sub-Category              object
Product Name              object
Sales                    float64
Quantity                   int64
Discount                 float64
Profit                   float64
Shipping Cost            float64
Order Priority            object
dtype: object

In [7]:
df.isnull().sum()

Row ID                0
Order ID              0
Order Date            0
Ship Date             0
Ship Mode             0
Customer ID           0
Customer Name         0
Segment               0
City                  0
State                 0
Country               0
Postal Code       41296
Market                0
Region                0
Product ID            0
Category              0
Sub-Category          0
Product Name          0
Sales                 0
Quantity              0
Discount              0
Profit                0
Shipping Cost         0
Order Priority        0
dtype: int64

In [8]:
df.drop('Postal Code', axis=1, inplace=True)

In [9]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'City', 'State', 'Country',
       'Market', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit',
       'Shipping Cost', 'Order Priority'],
      dtype='object')

In [10]:
df.shape

(51290, 23)

In [11]:
df_num = df.select_dtypes(include = [np.number])
df_cat = df.select_dtypes(include = ['object'])

In [12]:
df_num.describe()

,Row ID,Sales,Quantity,Discount,Profit,Shipping Cost
count,51290.00000,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000
mean,25645.50000,246.490581,3.476545,0.142908,28.610982,26.375818
std,14806.29199,487.565361,2.278766,0.212280,174.340972,57.296810
min,1.00000,0.444000,1.000000,0.000000,-6599.978000,0.002000
25%,12823.25000,30.758625,2.000000,0.000000,0.000000,2.610000
50%,25645.50000,85.053000,3.000000,0.000000,9.240000,7.790000
75%,38467.75000,251.053200,5.000000,0.200000,36.810000,24.450000
max,51290.00000,22638.480000,14.000000,0.850000,8399.976000,933.570000

In [13]:
df_cat.describe(include = ['O'])

,Order ID,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,Market,Region,Product ID,Category,Sub-Category,Product Name,Order Priority
count,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290
unique,25035,4,1590,795,3,3636,1094,147,7,13,10292,3,17,3788,4
top,CA-2014-100111,Standard Class,PO-18850,Muhammed Yedwab,Consumer,New York City,California,United States,APAC,Central,OFF-AR-10003651,Office Supplies,Binders,Staples,Medium
freq,14,30775,97,108,26518,915,2001,9994,11002,11117,35,31273,6152,227,29433

# Imputation

In [14]:
df_num.isnull().sum().sort_values(ascending=False)

Row ID           0
Sales            0
Quantity         0
Discount         0
Profit           0
Shipping Cost    0
dtype: int64

In [15]:
df_cat.isnull().sum().sort_values(ascending=False)

Order ID          0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
City              0
State             0
Country           0
Market            0
Region            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Order Priority    0
dtype: int64

# Correlation b/w numerical col & numerical target

In [16]:
df_num_corr = df_num.corr()

In [17]:
df_num_corr['Profit']

Row ID          -0.019037
Sales            0.484918
Quantity         0.104365
Discount        -0.316490
Profit           1.000000
Shipping Cost    0.354441
Name: Profit, dtype: float64

In [18]:
df_num_cols = []
df_num_cols.extend(df_num_corr[(df_num_corr['Profit'] > 0.3)].index.values)
df_num_cols.extend(df_num_corr[(df_num_corr['Profit'] < -0.3)].index.values)

In [19]:
df_num_cols

['Sales', 'Profit', 'Shipping Cost', 'Discount']

# Correlationship b/w catgorical columns & continous target using ANNOVA

In [20]:
from scipy.stats import f_oneway

In [21]:
df_cat['p'] = df_num['Profit']

In [23]:
groups = [df_cat['p'][df_cat['Market'] == category] for category in df_cat['Market'].unique()]

f_stat, p_value = f_oneway(*groups)
print(f"F-statistic: {f_stat}, P-value: {p_value}")

F-statistic: 28.07818874959561, P-value: 1.0834601137634787e-33

In [26]:
influential_list = []
noninfluential_list = []
for influence1 in list(df_cat.columns):
    if influence1 == 'p':
        continue
    else:
        groups = [df_cat['p'][df_cat[influence1] == category] for category in df_cat[influence1].unique()]
        f_stat, p_value = f_oneway(*groups)
        print(f"{influence1} - F-statistic: {f_stat}, P-value: {p_value}")
        if p_value < 0.05:
            influential_list.append(influence1)
        else:
            noninfluential_list.append(influence1)

Order ID - F-statistic: 1.0775148134190364, P-value: 1.1350594713462918e-09
Ship Mode - F-statistic: 0.1112694400346025, P-value: 0.953549120213493
Customer ID - F-statistic: 1.1374918958952611, P-value: 0.00012663690762868544
Customer Name - F-statistic: 1.1538436569505661, P-value: 0.0017954686365357188
Segment - F-statistic: 0.22119237404323483, P-value: 0.8015632303031714
City - F-statistic: 2.164422870379703, P-value: 1.9283854765863786e-276
State - F-statistic: 4.709630866402644, P-value: 0.0
Country - F-statistic: 22.25802770920221, P-value: 0.0
Market - F-statistic: 28.07818874959561, P-value: 1.0834601137634787e-33
Region - F-statistic: 34.26121568235655, P-value: 3.617471983600004e-80
Product ID - F-statistic: 4.007224887155522, P-value: 0.0
Category - F-statistic: 304.50613538510225, P-value: 3.4173111634965594e-132
Sub-Category - F-statistic: 103.91551183097653, P-value: 0.0
Product Name - F-statistic: 5.533698195429955, P-value: 0.0
Order Priority - F-statistic: 1.461514297034312, P-value: 0.22283640166560595

In [27]:
influential_list

['Order ID',
 'Customer ID',
 'Customer Name',
 'City',
 'State',
 'Country',
 'Market',
 'Region',
 'Product ID',
 'Category',
 'Sub-Category',
 'Product Name']

In [28]:
noninfluential_list

['Ship Mode', 'Segment', 'Order Priority']

In [35]:
df_cat1 = df_cat[influential_list]

In [36]:
df_cat1.columns

Index(['Order ID', 'Customer ID', 'Customer Name', 'City', 'State', 'Country',
       'Market', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name'],
      dtype='object')

In [37]:
df_cat1.head()

,Order ID,Customer ID,Customer Name,City,State,Country,Market,Region,Product ID,Category,Sub-Category,Product Name
0,CA-2012-124891,RH-19495,Rick Hansen,New York City,New York,United States,US,East,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...
1,IN-2013-77878,JR-16210,Justin Ritter,Wollongong,New South Wales,Australia,APAC,Oceania,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black"
2,IN-2013-71249,CR-12730,Craig Reiter,Brisbane,Queensland,Australia,APAC,Oceania,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID"
3,ES-2013-1579342,KM-16375,Katherine Murray,Berlin,Berlin,Germany,EU,Central,TEC-PH-10004583,Technology,Phones,"Motorola Smart Phone, Cordless"
4,SG-2013-4320,RH-9495,Rick Hansen,Dakar,Dakar,Senegal,Africa,Africa,TEC-SHA-10000501,Technology,Copiers,"Sharp Wireless Fax, High-Speed"

In [38]:
from sklearn.preprocessing import LabelEncoder

In [39]:
le = LabelEncoder()

In [40]:
df_cat1_e = df_cat1.apply(le.fit_transform)

In [41]:
df_cat1_e.head()

,Order ID,Customer ID,Customer Name,City,State,Country,Market,Region,Product ID,Category,Sub-Category,Product Name
0,1499,1286,632,2290,703,139,6,6,8246,2,0,2750
1,13063,808,413,3518,702,6,0,9,907,0,5,2525
2,12983,336,181,497,820,6,0,9,10157,2,13,2502
3,6813,873,424,375,145,47,4,3,10146,2,13,2414
4,21702,1290,632,857,270,110,1,0,10249,2,6,3158