In [1]:
import pandas as pd
import numpy as np

In [3]:
import pandas as pd

df = pd.read_csv("C:\\Users\\JANARDHAN\\Downloads\\train.csv",delimiter=';',nrows=1000)

df.head()

,Unnamed: 0,title,text,label
0,0,Palestinians switch off Christmas lights in Be...,"RAMALLAH, West Bank (Reuters) - Palestinians s...",1
1,1,China says Trump call with Taiwan president wo...,BEIJING (Reuters) - U.S. President-elect Donal...,1
2,2,FAIL! The Trump Organization’s Credit Score W...,While the controversy over Trump s personal ta...,0
3,3,Zimbabwe military chief's China trip was norma...,BEIJING (Reuters) - A trip to Beijing last wee...,1
4,4,THE MOST UNCOURAGEOUS PRESIDENT EVER Receives ...,There has never been a more UNCOURAGEOUS perso...,0

In [4]:
df.isnull().sum()

Unnamed: 0    0
title         0
text          0
label         0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   title       1000 non-null   object
 2   text        1000 non-null   object
 3   label       1000 non-null   int64
dtypes: int64(2), object(2)
memory usage: 31.4+ KB

In [6]:
import re
import string
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer

In [7]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\JANARDHAN\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [8]:
stop_words = set(stopwords.words('english'))
stemmer = PorterStemmer()

In [9]:
def clean_text(text):
    text = text.lower()
    text = text.translate(str.maketrans('', '', string.punctuation))
    text = ' '.join([stemmer.stem(word) for word in text.split() if word not in stop_words])
    return text
df['cleaned_text'] = df['text'].apply(clean_text)

In [10]:
df.head()

,Unnamed: 0,title,text,label,cleaned_text
0,0,Palestinians switch off Christmas lights in Be...,"RAMALLAH, West Bank (Reuters) - Palestinians s...",1,ramallah west bank reuter palestinian switch c...
1,1,China says Trump call with Taiwan president wo...,BEIJING (Reuters) - U.S. President-elect Donal...,1,beij reuter us presidentelect donald trump’ ca...
2,2,FAIL! The Trump Organization’s Credit Score W...,While the controversy over Trump s personal ta...,0,controversi trump person tax return continu bu...
3,3,Zimbabwe military chief's China trip was norma...,BEIJING (Reuters) - A trip to Beijing last wee...,1,beij reuter trip beij last week zimbabw milita...
4,4,THE MOST UNCOURAGEOUS PRESIDENT EVER Receives ...,There has never been a more UNCOURAGEOUS perso...,0,never uncourag person white hous barack obama ...

In [11]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
df['label'] = label_encoder.fit_transform(df['label'])

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(df['cleaned_text'])
y = df['label']
y

0      1
1      1
2      0
3      1
4      0
      ..
995    0
996    1
997    1
998    1
999    1
Name: label, Length: 1000, dtype: int64

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [14]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [15]:
model.fit(X, y)

LogisticRegression()